<div class="container fluid px-5 py-2 text-center " *ngIf="publication ; else noCourse">
    <h1>Course: {{publication.title}}</h1>
    <p><small>Published by: {{publication.publisher}}</small></p>
    <div class="row justify-content-center mt-5">
      <div class="card mb-3 " style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{publication.imageUrl}}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Desciption:</h5>
              <p class="card-text">{{publication.description}}</p>
              <div class="dropdown-divider"></div>
              <p class="card-text m-0">Price: 
                <del *ngIf="publication.newPrice ; else noSale">{{publication.price}}</del> 
                <ng-template #noSale>{{publication.price}}</ng-template>
                EUR
              </p>
              <p class="card-text m-0">Duration: {{publication.duration}}</p>
              <p class="card-text m-0">Available: 
                <span *ngIf="publication.isAvailable; else availabeFalse"> 
                  Yes
                </span> 
              </p>
            </div>
            <div class="card-footer" *ngIf="publication.onSale" 
            style="background-color: rgb(240, 143, 143)">
                <small>SALE! NEW PRICE:</small> {{publication.newPrice}} EUR
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="publication.rating.numberOfVoters!==0">
      <h3>Rating: {{(publication.rating.votersRatingSum/publication.rating.numberOfVoters).toFixed(2)}} </h3>
      <p><small>Number of voters: {{publication.rating.numberOfVoters}}</small></p>
    </div>
    <div class="dropdown-divider"></div>
    <div class="container" *ngIf="isMyPublication">
      <app-sale-form [publication]="publication"></app-sale-form>
    </div>
    <div class="dropdown-divider"></div>
    <div class="container" *ngIf="!isMyPublication && !alreadyLeftAComment ; else youLeaveComment">
      <app-comment-form [publication]="publication"></app-comment-form>
    </div>
    <div class="dropdown-divider"></div>
    <div class="container">
      <h5>-Users Commetns-</h5>
      <app-comments-list [comments]="comments$"></app-comments-list>
    </div>
</div>

<ng-template #youLeaveComment>
  <h5 *ngIf="!isMyPublication">Hey there, you already rated this course. </h5>
</ng-template>

<ng-template #noCourse>
    <div class="container fluid px-5 py-2 text-center">
        <h1>There is no course!</h1>
    </div>
</ng-template>

<ng-template #availabeFalse>
    <span>No</span>
</ng-template>