<div class="container p-1" style="width: 540px;" *ngIf="!publication.newPrice">
  <h4>
    Put your course on the sale!
  </h4>
  <p *ngIf="!emptyField" style="background-color: rgb(245, 96, 96)" class="border border-danger rounded"> 
      Please, set new price!
  </p>
  <label class="mt-3">
    New price:
  </label>
  <input type="text" class="form-control" placeholder="Enter new price for course" [formControl]="newPrice">
  <button class="btn btn-primary mt-3" (click)="setNewPrice()" 
  data-toggle="tooltip" data-placement="top" title="You can set a sale price only once!">
    Sale!
  </button> 
</div>