<div class="container fluid px-5 py-2 text-center">
  <div class="container" style="width: 500px">
    <h4>Create course and post it!</h4>
    <p *ngIf="!emptyField" style="background-color: rgb(245, 96, 96)" class="border border-danger rounded"> 
      Please, fill all fields if you want to leave the comment 
    </p>
    <form [formGroup]="userPublication" (ngSubmit)="onSubmit()">
      <label class="mt-3">
        Course title:
      </label>
      <input type="text" class="form-control" placeholder="Enter title"  formControlName="title">
      <label class="mt-3">
        Location:
      </label>
      <input type="text" class="form-control"  placeholder="Location"  formControlName="location">
      <label class="mt-3">
        Price in EUR*:
      </label>
      <input type="text" class="form-control"  placeholder="Price"  formControlName="price">
      <label class="mt-3">
          Course duration:
      </label>
      <select  class="form-control " formControlName="duration">
          <option value="3 weeks">3 weeks</option>
          <option value="1 month">1 month</option>
          <option value="2 month">2 months</option>
          <option value="6 month">6 months</option>
      </select>
      <label class="mt-3">
          Please upload picture url:
      </label>
      <input type="text" class="form-control" formControlName="imageUrl">
      <label class="mt-3">
          Course description:
      </label>
      <textarea class="form-control" rows="3" formControlName="description"></textarea>
      <button class="btn btn-primary mt-3" type="submit" [disabled]="!userPublication.valid">
        Publish
      </button> 
    </form>
  </div>
</div>